"*":
  core:
    disabledPackages: [
      "linter-pylama"
    ]
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
  "exception-reporting":
    userId: "d8c15e1a-f181-4456-9e2a-0aeb41757578"
  "linter-ui-default":
    panelHeight: 251
  "php-debug":
    showWelcome: false
