[user]
	name = Sergio Munoz
	email = sergio.d.munozsierra@leidos.com
[color]
	ui = auto
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[alias]
	comm = commit -m
	checkissue = "checkout munozsies/issue#"
	ci = "checkout munozsies/issue#"
    say = "!f() { checkout munozsies/issue#$1; echo $1; }; f"
    co = checkout
	dev = checkout development
    br = branch
    st = status
[push]
	default = current
